.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: fit-content;
  margin-top: 1rem;
}
.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.Header .texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}
.texts .title {
  width: 80%;
  font-size: 3.5rem;
  font-weight: bold;
  align-self: start;
}
.title h1 {
  font-size: 3.5rem;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(
    to right,
    rgba(174, 103, 250, 1),
    rgba(244, 152, 103, 1)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.texts .paragraph p {
  font-size: 1.4rem;
  width: 75%;
  margin: 3rem 0;
  line-height: 1.8rem;
  color: rgba(129, 175, 221, 1);
}
.texts .input {
  display: flex;
  align-items: center;
  width: 100%;
}
.input input {
  background-color: rgba(5, 45, 86, 1);
  border: none;
  outline: none;
  padding: 2rem 1rem;
  width: 50%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.input input::placeholder {
  color: rgba(61, 97, 132, 1);
  font-size: 1.2rem;
}
.input button {
  font-size: 1.2rem;
  padding: 1.8rem 1rem;
  width: 25%;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  background: rgba(255, 72, 32, 1);
  cursor: pointer;
}
.Header .img {
  width: 40%;
}
.Header .img img {
  align-self: end;
  width: 750px;
}
.logos{
    display: flex;
    align-items: center;
    padding: 4rem 0;
}
.logos img{
    margin: 2rem;
}