.container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  padding: 2rem;
  margin: 4rem;
  height: fit-content;
  width: 100%;
}
.container h2 {
  font-size: 3rem;
  background: linear-gradient(
    to right,
    rgba(174, 103, 250, 1),
    rgba(244, 152, 103, 1)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding: 5rem 0;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  padding: 1rem;
}
.cards .mainCard {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: rgba(4, 44, 84, 1);
  width: 28%;
  height: 85vh;
  border-radius: 5px;
  overflow: hidden;
}
.cards .mainCard img {
  height: 287.73px;
  width: 100%;
  margin-bottom: 1rem;
}
.cards .mainCard .discreption {
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.cards .mainCard .title h3{
    font-size: 1.2rem;
}
.cards .discreption {
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.discreption .text {
  padding-bottom: 1rem;
}
.readMore {
  cursor: pointer;
}
.cards img {
  width: 100%;
}
.sideCards {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.sideCards .card {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 1.5rem;
}
.sideCards .card img {
  width: 100%;
  height: 130.47px;
}
.card .discreption {
  width: 100%;
  height: 22vh;
  padding: 1rem;
  background-color: rgba(4, 44, 84, 1);
}
.card .discreption h3 {
  font-size: 1.2rem;
}

@media (max-width: 1200px) {
    .container{
        padding: 0;
        margin: 0;
    }
    .cards{
        padding: 0;
    }
  .cards .mainCard {
    width: 90%;
    height: 37vh;
  }
  .cards .mainCard img {
    height: unset;
    width: 100%;
    height: 130.47px;
  }
  .sideCards {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .sideCards .card{
        width: 100%;
    }
}


@media (max-width:600px){

    .container h2 {
        font-size:1.48rem;
        padding: 5rem 1.5rem;
        width: 100%;
      }
      .discreption h3 {
        font-size: 1rem;
      }
}