.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 4rem 13rem;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(0, 40, 83, 1), #040c18);
    color: white;
  }
  