.container {
  width: 100%;
  background: -moz-radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  background: -webkit-radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );
  background: -o-radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );
  background: -ms-radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );
  background: radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 6rem;
  color: white;
  height: fit-content;
}

.header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.header .headTitle {
  font-size: 1.6rem;
  font-weight: bold;
  width: 30%;
  padding: 0 0 2rem;
}

.header .paragraph {
  width: 70%;
  font-size: 1.2rem;
  line-height: 2rem;
  color: rgba(129, 175, 221, 1);
}
.body {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 2rem 0;
}
.body .title {
  font-size: 2.6rem;
  width: 50%;
  padding: 0 0 2rem;
  background: linear-gradient(
    to right,
    rgba(174, 103, 250, 1),
    rgba(244, 152, 103, 1)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.body .text {
  font-size: 1.5rem;
  color: rgba(255, 138, 113, 1);
  width: 50%;
  text-align: end;
}
.footer {
  display: flex;
  align-items: start ;
  justify-content: start;
  flex-wrap: wrap;
  padding: 2rem 0;
  width: 100%;
}
.footer div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  margin: 1rem;
}
.footer div .textTitle {
  font-size: 1.6rem;
  font-weight: bold;
  border-top: 2px solid rgba(244, 152, 103, 1);
  padding-top: 1rem;
  align-self: start;
}
.footer div .paragraph {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: rgba(129, 175, 221, 1);
  padding-top: 1rem;
}


@media (max-width:1500px){
  .header{
    flex-direction: column;
  }
  .body{
    flex-direction: column;
  }
  .body .title{
    font-size: 2rem;
  }
  .body .text{
    text-align: start;
    font-size: 1.2rem;
  }
  .footer div{
    width: 100%;
  }
}

@media (max-width:1200px){
  .header{
    padding: 1rem 0;
  }
  .header .headTitle {
    width: 100%;
    font-size: 1.4rem;
  }
  .header .paragraph{
    width: 100%;
    font-size: 1rem;
    line-height: 1.8rem;
  }
  .body{
    padding: 1rem 0;
  }
  .body .title{
    width: 100%;
    font-size: 1.8rem;
  }
  .body .text{
    font-size: 1rem;
  }
  .footer div .textTitle {
    font-size: 1.4rem;
  }
  .footer div .paragraph {
    font-size: 1rem;
  }
}

@media (max-width:600px){
  .container{
    padding: 0 1.4rem;
  }
  .header{
    padding: 1rem 0;
  }
  .header .headTitle{
    padding: 0 0 1rem;
    font-size: 1.2rem;
  }
  .header .paragraph{
    font-size: .9rem;
  }
  .body .title{
    padding: 0 0 1rem;
    font-size: 1.6rem;
  }
  .footer{
    padding: 0;
    justify-content: start;
    text-align: start;
  }
  .footer div{
    align-self: flex-start;
    margin-inline-start: auto;

  }
  .footer div .paragraph {
    font-size: .9rem;
  }

}